.place__title{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    grid-column: 1/2;
    grid-row: 1/2;
}

@media screen and (max-width: 1024px){
    .place__title{
        max-width: 440px;
    }
}

@media screen and (max-width: 900px){
    .place__title{
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
        margin-right: 11px;
    }
}

@media screen and (max-width: 767px){
    .place__title{
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 288px;
    }
}