.places{
    margin: 92px auto 0;
    max-width: 984px;
    gap: 80px;
    display: grid;
}

@media screen and (max-width: 1279px){
    .places{
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px){
    .places{
        max-width: 720px;
        grid-gap: 70px;
    }
}

@media screen and (max-width: 767px){
    .places{
        max-width: 100%;
        grid-gap: 50px;
        margin: 64px 0 0;
    }
}