.header__lang{
    text-decoration-line: none;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    padding-right: 18px;
    margin: 18px 0 6px;
    transition: opacity 1s;
    color: #fff;
}

.header__lang:hover{
    opacity: .8;
}

.header__lang:last-of-type{
    padding-right: 0;
}

@media screen and (max-width: 767px){
    .header__lang{
        font-size: 18px;
        line-height: 1.11;
        margin: 14px 0 6px;
    }
}