.lead{
    display: flex;
    flex-direction: column;
    margin: 56px auto;
    max-width: 984px;
}

@media screen  and (max-width: 1279px){
    .lead{
        margin: 48px auto;
        max-width: 928px;
    }
}

@media screen  and (max-width: 767px){
    .lead{
        max-width: 100%;
    }
}