.footer__link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.02;
    text-decoration: none;
    color: #fff;
    transition: opacity 1s;
}

.footer__link:hover{
    opacity: .8;
}


@media screen and (max-width: 767px){
    .footer__link{
        font-size: 24px;
        line-height: 24px;
    }
}