.cover__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.cover__text:last-of-type{
    margin: 0 auto calc(740px / 3);
}
.cover__text:first-of-type{
    margin: calc(740px / 3) auto 32px;
}

@media screen and (max-width: 1279px){
    .cover__text{
        margin: 195px 0;
    }
    .cover__text:last-of-type{
        margin: 0 auto 195px;
    }
    .cover__text:first-of-type{
        margin: 195px auto 32px;
    }
}

@media screen and (max-width: 1023px){
    .cover__text{
        margin: 115px 0;
    }
    .cover__text:last-of-type{
        margin: 0 auto 115px;
    }
    .cover__text:first-of-type{
        margin: 115px auto 32px;
    }
}

@media screen and (max-width: 767px){
    .cover__text:last-of-type{
        margin: 0 auto 33px;
    }
    .cover__text:first-of-type{
        margin: 33px auto 16px;
    }
}