.website{
    margin: 0;
    padding: 0;
    grid-column: 2/2;
    grid-row: 1/1;
    align-items: end;
    align-self: end;
}

@media screen and (max-width: 768px){
    .website{
        margin: 3px 0 ;
    }
}

@media screen and (max-width: 767px){
    .website{
        grid-column: 1/1;
        grid-row: 2/2;
        align-items: end;
        align-self: end;
        margin: 0 16px;
    }
}