.lead__subtitle{
    padding: 0;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    max-width: 640px;
    padding-top: 32px;
}

@media screen  and (max-width: 767px){
    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
    }
}