.cover__overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(42, 44, 47, .3);
    transition: background-color 2s;
}

.cover:hover .cover__overlay{
    background-color: rgba(42, 44, 47, .8);
}